*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 209);
}

header{
    margin-top: 0;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    width: 100%;

}

.navbar{
    margin: auto;
    width:100%;
}
.nav-inline{
    display: inline;
}

.toggle{
    display: none;
}

.responce-list{
    display: none;
}

.logo{
    margin: 10px;
    margin-left: -50px;
    margin-right: 100px;
    text-align: center;
    font-size:xx-large;
    font-weight: bolder;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

ul{
    padding: 0 0 0 50px;
    list-style-position: 10px;

}

.w-100{
    width: 100%;
    padding: auto;
}

.w-45{
    
    width: 45%;
    margin-left: 0;
    margin-right: 0;
}
.margin-top-5px{
    margin-top: 5px;

}
.aboutMe-box{
    padding: 20px;
    border: 2px solid black;
    height: 400px;
    border-radius: 10px;
    margin: 20px;
}

.aboutMe-box:hover{
    border: 3px solid black;
    background-color: #ecead3;
}

.projects-box-main{
    background-color: rgba(235, 235, 223, 0.852);
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.projects-box-main:hover{
    background-color: rgba(203, 203, 191, 0.852);
}

.projects-box{
    background-color: rgba(255, 255, 232, 0.852);
    border: 0px solid black;
    border-radius: 10px;
    width: 40%;
    margin: 20px;
    padding: 20px;
    
}

.projects-box h3 a{
    text-decoration: none;
    color: black;
}

.projects-box:hover{
    border: 0px solid black;
    background-color: #ecead3;
}

h3{
    font-size: 140%;
}

.m-auto{
    margin: auto;
}

.inline-flex{
    display: inline-flex;
    
}
.inline{
    display: inline;
}
.block{
    display: block;
}
.d-flex{
    display: flex;
}

.m-10{
    margin: 10px;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.button{
    background: transparent;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 10px;
}

.button a {
    text-decoration: none;
}

button a:hover{
    font-weight: bold;
}

.main-heading{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
}

.intro{
    margin: 0 20px;
    padding: 50px 0 50px 0;
}

.intro-pera{
    padding: 50px;

}

#myMainPic{
    border: 0;
    border-radius: 50%;
    width: 300px;

}
.showIn400Px{
    display: none;
}

@media screen and (max-width: 1000px) {

    .list-hidden{
        display: none;
        width: 0px;

    }
    .toggle{
        display: inline;
    }
    
    .responce-list-on{
        display: flex;
        flex-wrap: nowrap;
        justify-content: end;
        

    }
    
    .navbar a:not(:first-child) {
        display: none;
    }
    
}

.not-select{
    user-select: none;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .w-45 {
        width: 100%;
    }
    .aboutMe-box {
        width: 100%;
    }
    .intro-pera{
        padding: 0;
    }
}

@media screen and (max-width : 800px) {
    #aboutMe div{
        display: block;
        width: auto;  
    }
}


@media screen and (max-width : 850px) {

    #myProject div  {
        
        width: auto;
    }

    
    .aboutMe-box{
        height: auto;
    }
}

@media screen and (max-width : 800px) {
    #intro div{
        display: block;
        width: auto;
        padding: auto;
    }
}

@media screen and (max-width : 650px) {

    #intro pre{
        margin-left: -50px;
    }
}

@media screen and (max-width : 670px) {
    #myProject div  {
        display: block;
        width: auto;
    }
    .projects-box{
        height: auto;
    }
}

@media screen and (max-width : 1050px) {

    .aboutMe-box{
        width: 100%;
        height: auto;
    }

    .projects-box{
        width: 100%;
        height: auto
    };
}

@media screen and (max-width : 400px){
    #myMainPic{
        width: 100%;
    }
    .intro pre{
        display:none;
    }
    .intro .showIn400Px{
        display: inline;
    }
    header{
        width: 400px;
    }
}
